header{
    color:black;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    margin:10px;
    padding: 10px;
}
@media(min-width:992px){
    .section{
        float:left;
        width: calc(33.33% - 20px);
    }
}
@media(min-width:768px) and (max-width:991px){
    .section{
        float:left;
        width:calc(50% - 20px);
    }
    .section:nth-child(3){
        width:100% ;
        clear:both;
    }
}
@media(max-width:767px){
    .section{
        width:100%;
    }
}
.container{
    padding:20px;
    margin:2px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
}
.section{
    border:solid black 3px;
    padding:40px 10px 10px 10px;
    background:rgb(196, 188, 188);
    margin:10px;
    position: relative;
    box-sizing: border-box;
}
.section-title{
    position:absolute;
    top:0;
    right:0;
    margin:0.1px;
    padding:3px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    font-size: large;
}
.pink{
    background-color: rgb(224, 153, 165);
    font-weight: bold;
}
.red{
    background-color: rgb(181, 36, 36);
    color:white;
    font-weight: bold;
}
.yellow{
    background-color: rgb(212, 212, 2);
    font-weight: bold;
}