header{
    color:red;
    font-size:5em;
    text-align: center;
    padding: 10px;
}
body{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.section{
    border: 2px solid black;
    padding:40px 10px 10px 10px;
    margin:5px;
    position:relative;
    background-color: rgb(159, 162, 157);
    box-sizing: border-box;
}
.container{
    padding:10px;
    overflow:hidden;
}
@media(min-width:992px){
    .section{
        width:33.33%;
        float: left;
    }
}
@media(min-width:768px) and (max-width:991px){
    .section{
        width: 50%;
        float:left;
    }
    .section:nth-child(3){
        width:100%;
        float:none;
        clear:both;
    }
}
@media(max-width:767px){
    .section{
        width:100%;
        float:left;
    }
}
